:root {
    --height: 150px;
}

section {
    width: 1800px;
    height:var(--height);
}

.text {
    margin:0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;
    color:white;
}

/*bg*/

.background {
    position: absolute;
    width:1800px;
    height:var(--height);
}

.background2 {
    position: absolute;
    width:1800px;
    height:var(--height);
    clip-path: inset(5px 1575px 0px 5px);
    z-index:2;
}

.background3 {
    position: absolute;
    width:1800px;
    height:var(--height);
    clip-path: inset(0px 0px 0px 1575px);
    z-index:2;
}

#bg2 {
    border-radius: 22.5px;
    object-fit: cover;
    position:absolute;
    width:1800px;
    height:var(--height);
    bottom:0px;
    z-index: -2;
    filter: blur(0.25rem) brightness(63%);
}

#bg {
    object-fit: cover;
    position:absolute;
    width:1800px;
    height:var(--height);
    width:100%;
    bottom:0px;
    z-index: -2;
    filter: blur(0.25rem);
}

.bgWrapper {
    position:absolute;
    background: rgba(0, 0, 0, 0.375);
    width: 1800px;
    height:var(--height);
    z-index:2;
}

.bgLeft {
    position: absolute;
    width:1800px;
    outline:1px solid red;
    z-index:2;
    height:var(--height);
    clip-path:inset(0px 1580px 0px 0px);
    border-radius: 22.5px;
}

#bgLeft {
    object-fit: cover;
    position:absolute;
    width:1800px;
    height:var(--height);
    bottom:0px;
    filter: blur(0.25rem);
}

/* main body*/

.body {
    width: 1800px;
    height: var(--height);
    border: 5px solid black;
    display:flex;
    border-radius: 22.5px;
    background: rgba(0, 0, 0, 0.375);
    z-index:1;
}

.sub {
    width:1350px;
    height:var(--height);
    outline:3px solid black;
    border-radius: 45px;
    position:relative;
    display:flex;
    justify-content: center;
    z-index:1;
}
.ppContainer {
    /*background: linear-gradient(to left,rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.15));*/
    width: 225px;
    height:var(--height);
    border-radius: 22.5px;
    font-size:50px;
    text-align: center;
    height:var(--height);
    line-height: var(--height);
    z-index: 2;
    position:relative;
}

.gContainer {
    background: linear-gradient(to right,rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.15));
    width:225px;
    height:var(--height);
    border-radius: 22.5px;
    font-size:50px;
    text-align: center;
    height:var(--height);
    line-height: var(--height);
    z-index:2;
}

/*sub*/

/*top*/

.top {
    height:60px;
    font-size:50px;
}

.scrollContainer {
    display:inline-block;
}

.scrollContainer {
    -moz-transform:translateX(125%);
    -webkit-transform:translateX(125%);  
    transform:translateX(125%);
    -moz-animation: scroll 25s linear infinite;
    -webkit-animation: scroll 25s linear infinite;
    animation: scroll 15s linear infinite;
    outline:1px solid red;
    z-index:-1;
}


@-moz-keyframes scroll {
    0%   { -moz-transform: translateX(125%); }
    100% { -moz-transform: translateX(-125%); }
   }
   @-webkit-keyframes scroll {
    0%   { -webkit-transform: translateX(125%); }
    100% { -webkit-transform: translateX(-125%); }
   }
   @keyframes scroll {
    0%   { 
    -moz-transform: translateX(125%); 
    -webkit-transform: translateX(125%); 
    transform: translateX(125%);     
    }
    100% { 
    -moz-transform: translateX(-125%); 
    -webkit-transform: translateX(-125%); 
    transform: translateX(-125%); 
    }
   }

/*bottom*/

.bottom {
    position:absolute;
    bottom:0px;
    height: 85px;
    display: flex;
    flex-direction: column;
}

.bottom > ul {
    align-items: stretch;
    justify-content: space-between;
    text-align: center;
    list-style-type: none;
    margin:0;
    padding:0;
}

.halfTop {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size:30px;
}

.halfBottom {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size:25px;
}

.cN {
    width:100px;
    flex: 0 1 auto;
    margin:0px 10px;
    border-bottom: 3px solid red;
    border-radius: 1px;
}

._cN {
    width:100px;
    margin:0px 10px;
    flex: 0 1 auto; 
}

.maxCombo {
    width:165px;
}

.combo {
    width:115px;
}

.acc {
    width:115px;
}

#test {
    z-index:5;
    outline:5px solid red;
}