:root {
    --height: 150px;
}

section {
    width: 1800px;
    height:var(--height);
}

.text {
    margin:0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;
    color:white;
}

.main{
    position:relative;
}

/*bg*/

.background {
    width:1800px;
    height:var(--height);
    position:absolute;
}

#bg {
    object-fit: cover;
    position:absolute;
    width:1800px;
    height:var(--height);
    z-index: -2;
    filter: blur(0.25rem);

}

/* main body*/

.body {
    border:5px solid black;
    width: 1800px;
    height: var(--height);
    display:flex;
    border-radius: 22.5px;
    background: rgba(0, 0, 0, 0.375);
    z-index:1;
}

.sub {
    width:1350px;
    height:var(--height);
    outline:3px solid black;
    border-radius: 45px;
    position:relative;
    display:flex;
    justify-content: center;
    z-index:1;
}
.ppContainer {
    background: linear-gradient(to left,rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.15));
    width: 225px;
    height:var(--height);
    border-radius: 22.5px;
    font-size:50px;
    text-align: center;
    height:var(--height);
    line-height: var(--height);
    z-index: 2;
    position:relative;
}

.gContainer {
    background: linear-gradient(to right,rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.15));
    width:225px;
    height:var(--height);
    border-radius: 22.5px;
    font-size:50px;
    text-align: center;
    height:var(--height);
    line-height: var(--height);
    z-index:2;
}

/*top*/

.top {
    width:1300px;
    height:60px;
    font-size: 50px;
}

.top > span {
    width:1300px;
    text-align: center;
}

.fit {
    display:inline-block;
    white-space: nowrap;
}

/*bottom*/

.bottom {
    position:absolute;
    bottom:0px;
    height: 85px;
    display: flex;
    flex-direction: column;
}

.bottom > ul {
    align-items: stretch;
    justify-content: space-between;
    text-align: center;
    list-style-type: none;
    margin:0;
    padding:0;
}

.halfTop {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size:30px;
}

.halfBottom {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size:25px;
}

.cN {
    width:100px;
    flex: 0 1 auto;
    margin:0px 10px;
    border-bottom: 3px solid red;
    border-radius: 1px;
}

._cN {
    width:100px;
    margin:0px 10px;
    flex: 0 1 auto; 
}

.maxCombo {
    width:165px;
}

.combo {
    width:115px;
}

.acc {
    width:115px;
}