:root {
    --height: 150px;
}


.body {
    width: 1800px;
    height: var(--height);
    outline: 1px solid red;
    display:flex;
    border-radius: 22.5px;
}

.sub {
    width:1350px;
    height:var(--height);
    outline: 1px solid green;
    border-radius: 45px;
}

.ppContainer {
    outline:1px solid blue;
    width: 225px;
    height:var(--height);
    border-radius: 22.5px;
}

.gContainer {
    outline: 1px solid blue;
    width:225px;
    height:var(--height);
    border-radius: 22.5px;
}